<!-- views/todo.ejs -->
<!doctype html>
<html>
<head>
    <title>Very Own To-Do App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1> Personal To-Do App</h1>


<% todos.forEach( function ( todo ){ %>
  <% if( todo._id == current ){ %>
  <div class="item-new">
  <% }else{ %>
  <div class="item">
  <% } %>

    <% if( todo._id == current ){ %>
    <form class="update-form" action="/todo/update/<%= todo._id %>" method="post" accept-charset="utf-8">
      <input class="update-input" type="text" name="content" value="<%= todo.content %>" />
    </form>
    <% }else{ %>
    <a class="update-link" href="/todo/edit/<%= todo._id %>" title="Update this todo item"><%= todo.content %></a>
    <% } %>

    <% if( todo._id == current ){ %>
    <a class="del-btn-edit" href="/todo/destroy/<%= todo._id %>" title="Delete this todo item">Delete</a>
    <% }else{ %>
    <a class="del-btn" href="/todo/destroy/<%= todo._id %>" title="Delete this todo item">Delete</a>
    <% } %>
  </div>
<% }); %>
</div>
</div>
</body>
</html>

