<!-- views/todo.ejs -->
<!doctype html>
<html>
<head>
    <title>Very Own To-Do App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1> Personal To-Do App</h1>
<div id="list">
  <a href="/todo/new/" class="btn btn-primary">ADD</a> 

<% todos.forEach( function ( todo ){ %>
  <div class="list-group-item">
  	
  	<% if(todo.done!=0){ %>
  		<del><%= todo.content %></del> 
   		
 	<% } else{ %> 
 		
   		<h3> Task: <a class="update-link" href="/todo/edit/<%= todo._id %>" title="Update this todo item"><%= todo.content %></a> Due Hours: <%= todo.due_time %> Location :<%= todo.location %> </h3> 
   		<a href="/todo/done/<%= todo._id %>" class="btn btn-success">Close</a>
	<% } %>
    
    <a href="/todo/destroy/<%= todo._id %>" class="btn btn-danger">Delete</a>
  </div>
<% }); %>
</div>
</div>
</body>
</html>

